<template>
  <div id="container">
    <header>
      <a-row type="flex" justify="center">
        <a-col :sm="18" :md="12">
          <a-input-search
            v-model:value="searchKeyword"
            placeholder="搜索名称"
            enter-button=" 搜 索 "
            size="large"
            @search="onSearch()"
          />
        </a-col>
      </a-row>
    </header>
    <main pt-10>
      <a-row class="main-wrap" type="flex" justify="center">
        <a-col :span="18" class="tags" p6>
          <span class="tab-title">分类：</span>
          <span
            v-for="(item, index) in tabsData"
            :key="item.id"
            class="tab-span"
            :class="item.btnType"
            @click="changeTab(index, item.type)"
          >
            {{ item.name }}
          </span>
        </a-col>
        <a-col :span="18" mt-6 class="content">
          <a-row v-if="listData.length" :gutter="[32, 32]">
            <a-col
              v-for="item in listData"
              :key="item.id"
              :xs="12"
              :sm="12"
              :md="8"
              :lg="6"
              :xl="4"
            >
              <a-card hoverable class="card-item" @click="goToLink(item.link)">
                <template #cover>
                  <a-image
                    v-if="item.image"
                    :preview="false"
                    :src="item.image"
                    :fallback="imageError"
                  />
                  <a-image v-else :preview="false" :src="imageError" />
                </template>
                <a-card-meta :title="item.name" class="3333">
                  <template #description>
                    <span>{{ item.branch }}</span>
                    <!-- <b>22</b> -->
                  </template>
                </a-card-meta>
              </a-card>
            </a-col>
          </a-row>
          <a-empty v-else />
        </a-col>
      </a-row>
    </main>
  </div>
</template>

<script setup>
import { reactive, ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { getTabs, getList } from '@/api/center.js';
import { onBeforeMount } from 'vue';
import { imageError } from './imageError';

const tabsData = ref([]);
const listData = ref([]);
const form = reactive({
  type: '',
  keyword: '',
});

const searchKeyword = ref('');
const route = useRoute();
const router = useRouter();

const { type, keyword } = route.query;
if (type) {
  form.type = type;
}
if (keyword) {
  searchKeyword.value = keyword;
  form.keyword = keyword;
}

const changeTab = (index, type) => {
  if (form.type === type) {
    return;
  }
  form.type = type;
  router.push({
    path: '/',
    query: { type: form.type, keyword: form.keyword },
  });
  tabsData.value = tabsData.value.map((item, itemIndex) => {
    if (index === itemIndex) {
      item.btnType = 'active';
    } else {
      item.btnType = 'inactive';
    }
    return item;
  });
  getListPost();
};

const onSearch = () => {
  console.log(1);
  form.keyword = searchKeyword.value;
  router.push({
    path: '/',
    query: { type: form.type, keyword: form.keyword },
  });
  getListPost();
};

const goToLink = (link) => {
  window.open(link);
};

const getListPost = () => {
  // let type;
  // if (Number(form.type) === 0) {
  //   type = '';
  // }else{

  // }
  const type = Number(form.type) === 0 ? '' : form.type;
  getList(type, form.keyword).then((res) => {
    listData.value = res.data;
  });
};

onBeforeMount(() => {
  getTabs().then((res) => {
    const data = res.data.map((item) => {
      if (Number(form.type) === item.type) {
        item.btnType = 'active';
        return item;
      }
      item.btnType = 'inactive';
      return item;
    });
    tabsData.value = data;
    if (Number(form.type) !== 0) {
      tabsData.value.unshift({
        btnType: 'inactive',
        id: 0,
        type: 0,
        name: '全部',
      });
    } else {
      tabsData.value.unshift({
        btnType: 'active',
        id: 0,
        type: 0,
        name: '全部',
      });
    }
  });
  getListPost();
});
</script>

<style lang="scss">
:root {
  --header-height: 100px;
  --bg-color: #f9f9f9;
  --primary-color: #1890ff;
}

#container {
  background-color: var(--bg-color);
}

header {
  background-color: #fff;
  height: var(--header-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  background-color: var(--bg-color);
  min-height: calc(100vh - var(--header-height));
}

.tags {
  background-color: #fff;
  border-radius: 5px;
  // display: flex;
  word-wrap: break-word;
}

.tab-title {
  padding: 3px 10px;
}
.tab-span {
  cursor: pointer;
  padding: 3px 10px;
  margin-right: 10px;
  border-radius: 3px;
  &.active,
  &:hover {
    background-color: var(--primary-color);
    color: #fff;
  }
}
.content {
  border-radius: 5px;
}

.card-item {
  .ant-card-cover {
    height: 12vw;
    .ant-image {
      height: 100%;
    }
    .ant-image-img {
      height: 100%;
    }
  }
}
</style>
